{
    "useTabs": false,
    "tabWidth": 2,
    "printWidth": 150,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "semi": false,
    "htmlWhitespaceSensitivity": "ignore"
}
