html.china-red {
  .el-checkbox {
    --el-checkbox-font-size: 14px;
    --el-checkbox-font-weight: var(--el-font-weight-primary);
    --el-checkbox-text-color: #262626;
    --el-checkbox-input-height: 14px;
    --el-checkbox-input-width: 14px;
    --el-checkbox-border-radius: var(--el-border-radius-small);
    --el-checkbox-bg-color: var(--el-fill-color-blank);
    --el-checkbox-input-border: var(--el-border);

    //disabled
    --el-checkbox-disabled-border-color: var(--el-border-color);
    --el-checkbox-disabled-input-fill: var(--el-fill-color-light);
    --el-checkbox-disabled-icon-color: var(--el-text-color-placeholder);
    --el-checkbox-disabled-checked-input-fill: var(--el-border-color-extra-light);
    --el-checkbox-disabled-checked-input-border-color: var(--el-border-color);
    --el-checkbox-disabled-checked-icon-color: var(--el-text-color-placeholder);

    //check
    --el-checkbox-checked-text-color: #262626;
    --el-checkbox-checked-input-border-color: transparent;
    --el-checkbox-checked-bg-color: #c72210;
    --el-checkbox-checked-icon-color: #ffffff;
    --el-checkbox-input-border-color-hover: #c72210;
  }
}
